workDir = "/users/user10/work"

params {
  fastq = "/users/user10/final_bash/data/*_{1,2}.fastq.gz"
  chr19 = "/users/user10/final_bash/data/chr19.fa"
  chr19Folder = "/users/user10/final_bash/data"
  outdir = "/users/user10/final_bash/output"
}

singularity {
    enabled = true
    autoMounts = true
}

process {
  withName: 'FASTQC' {
   cpus = 2
 memory = 7.GB
 time = 2.h
 }

  withName: 'TRIMMOMATIC' {
   container = "${projectDir}/containers/trimmomatic.sif"
   cpus = 2
   memory = 5.GB
   time = 1.h
  }

 withName: 'BWA' {
 cpus = 2
 memory = 7.GB
 time = 2.h
}
 
withName: 'SAMTOBAM' {
 cpus = 2
 memory = 7.GB
 time = 2.h
}

withName: 'BCFTOOLS_CALL' {
 cpus = 2
 memory = 7.GB
 time = 2.h
}
 withName: 'CALLVAR' {
 cpus = 2
 memory = 7.GB
 time = 2.h
 }
}

profiles {
   local {
     process.executor = 'local'
}
 slurm {
    process.executor = 'slurm'
    process.queue = 'Main'
  }
}
